{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["react", "react-hooks", "prettier", "import"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow" }],
    // allow optionalDependencies
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-curly-brace-presence": [0, "always"],
    "react-hooks/exhaustive-deps": "off"
  }
}
